@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --bg-color: #fff;
    --color-light : #EFEFEF;
    --text-color: #232323;

    --font-primary : 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
 
    font-weight: 400;
   
    transition: .2s ease-in;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color);
    font-family: var(--font-primary);
}

/*-------------------------------- headings buttons style */
h1.heading-1{
    font-size: 6.1rem;
    line-height: 6.7rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}
h3.heading-3{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #bbbbbb;
}

.btn{
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem 6rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: #232323;
    cursor: pointer;
    text-transform: capitalize;
}
.btn.btn-huge{
    margin-top: 2rem;
}







header.header{
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: var(--color-light);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0rem 3vw;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    z-index: 20;
}

.logo-part{
    display: flex;
    align-items: center;
    z-index: 88;
    color: currentColor;
}

.logo-part a img{
    height: 4.5rem;
    margin-right: 2rem;
}

.logo-part .logo{
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;   
}

.logo-part .logo:hover,
.logo-part .logo > span:hover{
    color: #565656;
}

.logo-part .logo > span{
    text-transform: uppercase;
    font-weight: inherit;
}

.header .links{
    display: flex;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    
}

.header .links a{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-transform: capitalize;
    background-color: transparent;
    padding: 1.5rem;
    align-self: stretch;
    color: currentColor;
}

.header .links a:hover{
    color: #565656;
    background-color: #fff;
}

.header .header-social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .header-social .box-icon{
    width: 4rem;
    height: 4.5rem;
    background-color: #fff;
    border-radius: .8rem;


    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.header .header-social  .box-icon.main-menu{
    display: none;
}
.menu{
    height: 2px;
    width: 2.5rem;
    background-color: #000;
}

.menu::before{transform: translateY(-.7rem);}
.menu::after{transform: translateY(.6rem);}

.menu::before,
.menu::after{
height: 2px;
width: 2.5rem;
background-color: #000;
content: '';
display: block;
}

/*------------------------------------------- web saas style */
.saas-app{
    background-color: var(--text-color);
    color: #fff;

}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

.container-padding{
    padding: 15rem 5%;
}


.saas-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saas-app-sub > *{
    margin-top: 2rem;
}

/*------------------------------------------- query media */


@media screen and (max-width: 53.2rem){

    .header .header-social  .box-icon.main-menu{display: flex;align-items: center;justify-content: center;}
    .header .links,
    .header-social .box-icon:not(:last-child)
    {
        display: none;
    }

    .header-social .box-icon:nth-child(4){
        background-color: transparent;
    }

    .header .links{
        position: absolute;
        top: 9rem;
        display: none;
        background-color: var(--color-light);
        margin-left: -1.5rem;
    }

    .header .links a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.6rem;
        text-transform: capitalize;
        background-color: transparent;
        margin: 1rem -2rem;
        padding: 1rem;
        align-self: stretch;
    }

   

    .header .show{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .2s ease-in;
        width: 100vw;
    }

    
    .header .links a:hover{
        background-color: var(--color-light);
    }

    .saas-wrap{
        flex-direction: column;
    }

    .btn.btn-huge{
        margin-top: 5rem;
    }

  
    
}








