@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --bg-color: #fff;
    --color-light : #EFEFEF;
    --text-color: #232323;

    --font-primary : 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
    font-weight: 400;
   
    transition: .2s ease-in;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    overflow-x: hidden;
}

/*-------------------------------- headings buttons style */
h1.heading-1{
    font-size: 6.1rem;
    line-height: 6.7rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}
h3.heading-3{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #bbbbbb;
}

.heading-4{
    font-size: 2.6rem;
    line-height: 3.8rem;
    font-weight: 700;
    color: #fff;
}

.text-color{
    color: var(--text-color) !important;
}

.btn{
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 2rem 4rem;

    cursor: pointer;
    text-transform: capitalize;
    border: 0;
}
.btn.btn-huge{
    margin-top: 2rem;
}

.btn span{
    font-weight: 700;
    font-size: 1.8rem;
    color: #232323;
    font-family: var(--font-primary);
    transition: .2s ease-in;
}
.btn span:hover{
    color: #565656;
   border-bottom: 1px solid #565656;
}

.development-btn{
    justify-self: start;
    margin-top: 2rem;
    padding: 2rem 6rem;
    border-radius: .2rem;
   
}

.development-btn > *{
    font-size: 1.8rem;
    font-weight: 600;
}
.development-btn:hover{
    background-color: #f7d9c4 !important;
}





header.header{
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: var(--color-light);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0rem 3vw;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    z-index: 20;
}

.logo-part{
    display: flex;
    align-items: center;
    z-index: 88;
    color: currentColor;
}

.logo-part a img{
    height: 4.5rem;
    margin-right: 2rem;
}

.logo-part .logo{
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;   
}

.logo-part .logo:hover,
.logo-part .logo > span:hover{
    color: #565656;
}

.logo-part .logo > span{
    text-transform: uppercase;
    font-weight: inherit;
}

.header .links{
    display: flex;
    align-items: center;
    background-color: transparent;
    align-self: stretch;
    
}

.header .links a{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-transform: capitalize;
    background-color: transparent;
    padding: 1.5rem;
    align-self: stretch;
    color: currentColor;
}

.header .links a:hover{
    color: #565656;
    background-color: #fff;
}

.header .header-social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .header-social .box-icon{
    width: 4rem;
    height: 4.5rem;
    background-color: #fff;
    border-radius: .8rem;


    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.header .header-social  .box-icon.main-menu{
    display: none;
}
.menu{
    height: 2px;
    width: 2.5rem;
    background-color: #000;
}

.menu::before{transform: translateY(-.7rem);}
.menu::after{transform: translateY(.6rem);}

.menu::before,
.menu::after{
height: 2px;
width: 2.5rem;
background-color: #000;
content: '';
display: block;
}

/*------------------------------------------- web saas style */
.saas-app{
    background-color: var(--text-color);
    color: #fff;

}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

.container-padding{
    padding: 15rem 5%;
}


.saas-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saas-app-sub > *{
    margin-top: 2rem;
}

/*------------------------------------------ development style  */

.development{
    background-color: var(--color-light);
}
.development-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.development-box img{
    width: 90%;
    border-radius: 2rem;
}

.development-right-side{
    display: grid;
    align-content: center;
    grid-template-rows:min-content;
    grid-row-gap: 2rem;
}

.development-right-side p.text{
    margin-top: 3.5rem;
}
.development-right-side p.text,
.devepment-sub p,
p.text{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #777;
}

.devepment-sub{
    display: grid;
   grid-template-columns: min-content 1fr;
   grid-column-gap: 2rem;
   align-items: center;

}

.devepment-sub .tick{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


/*------------------------------------------ feuture boxs */

.feuture-boxs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    grid-column-gap: 3rem;

}

.feuture-box{
    background-color: var(--text-color);
    color: #fff;
    padding: 3rem;
    display: grid;
    align-items: center;
    grid-row-gap: 5rem;    
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
}


.feuture-box::before{
    content: '';
    position: absolute;
    right: -100px;
    bottom: -100px;
    content: '';
    transition: all 0.3s;
    width: 20rem;
    height: 20rem;
    background: #ff8484;
    transform: rotate(45deg);
   
}

.feuture-box:nth-child(1),
.feuture-box:nth-child(3){
    background-color: var(--color-light);
}

.feuture-box:nth-child(1):hover,
.feuture-box:nth-child(3):hover{
    background-color: var(--text-color);
}

.feuture-box:nth-child(1):hover > *,
.feuture-box:nth-child(3):hover > *
{
    color: #fff !important;
}

.feuture-box:nth-child(1):hover::before,
.feuture-box:nth-child(3):hover::before{
    opacity: 1;
}

.feuture-box:nth-child(1):hover > .sub-feuture .plus,
.feuture-box:nth-child(3):hover > .sub-feuture .plus{
    border: 2px solid #fff;
}


.feuture-box:nth-child(1):hover > .sub-feuture p,
.feuture-box:nth-child(3):hover > .sub-feuture p{
    display: block;
    
}




.feuture-box:nth-child(1) h4.heading-4,
.feuture-box:nth-child(3) h4.heading-4{
    color: var(--text-color);
}


.feuture-box:nth-child(1) p.text,
.feuture-box:nth-child(3) p.text{
    color: #777;
}


.feuture-box:nth-child(1) span,
.feuture-box:nth-child(1) .sub-feuture .plus,
.feuture-box:nth-child(3) .sub-feuture .plus,
.feuture-box:nth-child(3) span{
    color: #ff8484;
    border: none;
}

.feuture-box:nth-child(1) .sub-feuture p,
.feuture-box:nth-child(3) .sub-feuture p{
    display: none;
 
}



.feuture-box:nth-child(1)::before,
.feuture-box:nth-child(3)::before{
 opacity: .3;
}


.feuture-box span{
    font-size: 5.5rem;
    
}

.feuture-box p.text{
    color: #fff;
}


.feuture-box .sub-feuture{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-column-gap: 2rem;
}

.feuture-box .sub-feuture .plus{
    font-size: 2.5rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    padding: 2rem;
    align-items: center;
    border: 2px solid #fff;

    display: grid;
    align-content: center;
    justify-content: center;
}


/*-------------------------------------- news-latters style */
.news-latter{
    background-color: var(--text-color);
    width: 100%;
    border-radius: 1rem;
    padding: 5%;
    color: #fff;
    font-family: var(--font-primary);


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-latter h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff8484;
}
.news-latter h2{
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
}

.news-latter-form{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.news-latter-form .input{
    border: 0;
    width: 30rem;
    background-color: #565656;
    padding: 2rem 3rem;    
    border-radius: .5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #232323;

}

.news-latter-form .submit{
    border: 0;
    background-color: #ff8484;
    color: #fff;
    padding: 2rem 3rem;
    margin-left: 1rem;
    border-radius: .5rem;

    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
}

.news-latter-form .submit:hover{
    background-color: #ff2d2d
}



/*------------------------------------------- query media */


@media screen and (max-width: 53.2rem){

    .container-padding{
        padding: 7.5rem 5%;
    }
    .header .header-social  .box-icon.main-menu{display: flex;align-items: center;justify-content: center;}
    .header .links,
    .header-social .box-icon:not(:last-child)
    {
        display: none;
    }

    .header-social .box-icon:nth-child(4){
        background-color: transparent;
    }

    .header .links{
        position: absolute;
        top: 9rem;
        display: none;
        background-color: var(--color-light);
        margin-left: -1.5rem;
    }

    .header .links a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.6rem;
        text-transform: capitalize;
        background-color: transparent;
        margin: 1rem -2rem;
        padding: 1rem;
        align-self: stretch;
    }

   

    .header .show{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .2s ease-in;
        width: 100vw;
    }

    
    .header .links a:hover{
        background-color: var(--color-light);
    }

    .saas-wrap{
        flex-direction: column;
    }

    .btn.btn-huge{
        margin-top: 5rem;
    }

  
    .development-box{
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        
    }
      
    .development-box img{
       width: 80%;
       margin-bottom: 5rem;
    }
    .development-right-side h1.heading-1{
    text-align: center;
}

h1.heading-1{
    font-size: 4.1rem;
    line-height: 4.7rem;
    font-weight: 600;
 
}



.feuture-boxs{
    grid-template-columns: 1fr;
}

.feuture-boxs .feuture-box{
    margin-top: 3rem;
}

.news-latter{

    display: grid;
    grid-template-columns: 1fr;
}

.news-latter h2{
    font-size: 3.5rem;
}

.news-latter-form{
    display: grid;
    grid-template-columns: 1fr;
}

.news-latter-form .input{
    width: 90%;
    margin: 2rem auto;
}
.news-latter-form .submit{
    width: 90%;
    margin: 0rem auto;
}

}








